
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/* body{
  padding: 40px;
  background-color: #121212;  
} */

.about-head {
  border-right: solid 3px rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
}

/* Animation */
.about-head {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(2, 2, 2, 0.75);}
  to{border-right-color: transparent;}
}
/* acdemics */
.academic{
padding-left: 300px;
font-family:Georgia, 'Times New Roman', Times, serif ;
}
.school1{
  display: flex;
  
}
.school-name{
  padding-left: 25px;
  font-size: 40px;
 
  font-weight:550;
  color: brown;
}
.grade{
  padding-left: 83px;
  font-size: 30px;
  font-weight: 550;
}